@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *::-webkit-scrollbar {
    @apply w-[8px] h-[8px];
  }
  /* rounded-[100vh] */
  *::-webkit-scrollbar-track {
    @apply bg-[#eee]/40 dark:bg-secondary/40;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-primary dark:bg-secondary rounded-[100vh] border-[1px] border-[#f6f7ed];
  }
  *::-moz-scrollbar {
		@apply w-[8px] h-[8px];
	}
	/* rounded-[100vh] */
	*::-moz-scrollbar-track {
    @apply bg-[#eee]/40 dark:bg-secondary/40;
	}
	*::-moz-scrollbar-thumb {
    @apply bg-primary dark:bg-secondary rounded-[100vh] border-[1px] border-[#f6f7ed];
	}
  @font-face {
    font-family: "poppins-medium";
    src: url("/fonts/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "poppins-semibold";
    src: url("/fonts/Poppins-SemiBold.ttf");
  }
  @font-face {
    font-family: "poppins-regular";
    src: url("/fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "poppins-light";
    src: url("/fonts/Poppins-Light.ttf");
  }
  @font-face {
    font-family: "roboto";
    src: url("/fonts/roboto.ttf");
  }
  @font-face {
    font-family: "russo-one-regular";
    src: url("/fonts/RussoOne-Regular.ttf");
  }
  .Nav a {
    display: flex;
    height: 32px;
    width: 32px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-color: rgb(1 86 218 / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.1;
  }
}

@layer components {
  .bounce {
    -webkit-animation: 3600ms bounceImage linear infinite alternate;
          animation: 3600ms bounceImage linear infinite alternate;
  }
  @-webkit-keyframes bounceImage {
  0% {
    top : -20%
  }

  100% {
    top : -15%;
  }
}

@keyframes bounceImage {
  0% {
    top : -20%
  }

  100% {
    top : -15%;
  }
}
  body {
    @apply dark:bg-[#131313] bg-white text-slate-900 dark:text-white font-poppins_semibold max-w-[screen] m-0 p-0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
